<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=163eacf7-caff-4bb7-80cc-a4e9009e9703.sqlserver.sequelizer.com;Database=db163eacf7caff4bb780cca4e9009e9703;User ID=wyogcwnotybqkdru;Password=wqxcEWtHKJkMrJD2zYv5FEnuumiG4itpKf4j4bsdMaLCQ3qjBjoFTVqYddQtNUMB;"/>
  </connectionStrings>
</configuration>
